html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #2b542c;
    background-image: url("../images/home-office-336373_1920.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: 100% 100%;

    position: relative;

    color: white;



    display: table;
    width: 100%;
    height: 100%;
}

#cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#center-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#navigation-bar-container {
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;
}

@media (min-width: 768px) {
    #navigation-bar-container {
        width: 50%;
    }
}

#navbar ul {
    margin-right: 0;
}

#footer-content {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}